extends /layout.pug

mixin amt(amt, curr)
    = curr === 'CAD' ? `${amt} CA$` : `${amt} ${curr}`

block nav
    - const current = "shop"

block content
    .grid
        each item in listings
            +link(href=item.url, class="listing")
                .img-container
                    img(loading="lazy"
                        src=item.image.url
                        alt=""
                        title=item.title)
                h3=item.title
                span.prompt: +t('buy')
                span.right: +amt(item.price, item.currency)
