extends /layout.pug

mixin amt(amt, curr)
    = curr === 'CAD' ? `${amt} CA$` : `${amt} ${curr}`

block head
    - const title = translations.shop

block nav
    - const current = "shop"

block content
    each section in listings
        input.collapse-value(id=section.id || "other", type="checkbox")
        h2.collapse-control
            label(for=section.id || "other")=section.title
        .grid.collapse-target: each item in section.listings
            +link(href=item.url, class="listing item")
                .img-container.dark
                    img(loading="lazy"
                        src=item.image.url
                        alt=""
                        title=item.title)
                h3=item.title
                span.prompt: +t('buy')
                span.right: +amt(item.price, item.currency)
