extends /layout.pug

block head
    script.
        const actionFor = action => () => {
            if (!window.location.hash) return;
            const control = document.querySelector(window.location.hash + ' .control.' + action);
            control && (window.location = control.href);
        };
        const actions = {
            Escape: actionFor('close'),
            ArrowLeft: actionFor('left'),
            ArrowRight: actionFor('right')
        };
        document.addEventListener('keydown', e => actions[e.key] && actions[e.key]());

block nav
    - const current = "index"

block content
    - const imgNames = imgs.map(img => img.split('.')[0])
    - const formattedImgNames = imgNames.map(name => name.replace(/_/g, ' '))
    .grid
        each img, i in imgs
            - const thumb = img.split('.')[0] + '.jpg';
            a.img-container.dark(href=`#img-${imgNames[i]}`, id=imgNames[i])
                img(src=`/img-thumbs/${thumb}`, loading="lazy", alt=formattedImgNames[i])
    .lightbox
        each img, i in imgs
            .item(id=`img-${imgNames[i]}`)
                - const detail = img.split('.')[0] + '.jpg';
                img(src=`/img-details/${detail}`, loading="lazy", alt="", title=formattedImgNames[i])
                .title
                    h2=formattedImgNames[i]
                a.control.left(href=`#img-${imgNames[(i - 1 + imgs.length) % imgs.length]}`): span
                a.control.right(href=`#img-${imgNames[(i + 1) % imgs.length]}`): span
                a.control.close(href=`#${imgNames[i]}`): span
